.encabezado{
    display: flex;
    flex-direction: row;
}

.body {
    /* font-size: 20px; */
    margin: 20px;
}

.volver {
    margin: 10px 0px;
}

.local{
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    margin-top: 55px !important;
}

.table tr th {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sorting {
    background-color: #d4d4d4;
}

.asc:after {
    content: " ↑";
}

.desc:after {
    content: " ↓";
}

.img {
    margin-top: 500px !important;
}
